{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<title>Company Master Plots</title>
</head>

<body>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <div class="jumbotron text-center">
        <h2 class="mb-4">Choose any option to view graph</h2>
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
                <a href="/problem1/">
                    <button class="btn btn-lg" id="button">Problem 1</button>
                </a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <a href="/problem2/">
                    <button class="btn btn-lg" id="button">Problem 2</button>
                </a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <a href="/problem3/">
                    <button class="btn btn-lg" id="button">Problem 3</button>
                </a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <a href="/problem4/">
                    <button class="btn btn-lg" id="button">Problem 4</button>
                </a>
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </div>
    
</body>
</html>